[user]
	name = Matthew Vilim
	email = mvilim@stanford.edu
[push]
	default = simple
[core]
	pager = less -+X -+F
[pager]
  status = true
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[alias]
  a = add
  au = add -u
  c = commit
  pl = pull
  ps = push
  co = checkout
  d = diff
  dt = difftool
  ds = diff --staged
  dw = diff --color-words
  s = status
