set editing-mode vi
set show-mode-in-prompt on
set keyseq-timeout 0
set completion-ignore-case on
set show-all-if-ambiguous on

set keymap vi-command
" h": "\C-r"
"\C-d": "i\C-r"
set keymap vi-insert
#"hh": "\C-r"
#"\C-d": "\ec"

